<ul class="nav nav-wizard">
	<li<%= raw(" class='active'") if step == 0 %>>Introduction</li>
	<li<%= raw(" class='active'") if step == 1 %>>About You</li>
	<li<%= raw(" class='active'") if step == 2 %>>Defining</li>
	<li<%= raw(" class='active'") if step == 3 %>>Differentiation</li>
</ul>