<div class="panel panel-default">
  <div class="panel-heading"><h2>Surveys</h2></div>
  <div class="panel-body">
<%= grid(@surveys) do |g|

  g.column name: 'Name', attribute: 'name' do |survey|
    (survey.name.present? && survey.name)||'N/A'
  end

  g.column name: 'Email', attribute: 'email' do |survey|
    (survey.email.present? && survey.email)||'N/A'
  end

  g.column name: 'Definition', attribute: 'definition'

  g.column name: 'Associated Areas', attribute: 'associated_areas' do |survey|
    associated_list(survey.associated_areas_list)
  end

  g.column name: 'Actions' do |survey|
    raw("#{link_to 'View', survey} | 
    #{link_to 'Edit', edit_survey_path(survey)} |
    #{link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' }}")
  end
end %>
</div>
</div>